*{
    margin: 0;
    padding: 0;
}
body{
    background-color: teal;
}
section{
    width: 100vw;
    display: flex;
    background-color: palegreen;

}

#bird{
    display: flex;
    padding-left: 5px;
    padding-top: 5px;
}
#creed{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    padding-left: 75px;
    padding-top: 10px;
    font-size: 25px;


}